*{
    margin: 0;
    padding: 0  ;
}
.heading hr{
    width: 6em;
    /* margin-top: 2em; */
    }
    a{ 
        text-decoration: none;
        color: rgba(0, 0, 0, 0.6);
    }
    .navbar-nav button{
        background-color: white;
        color: black;
        border: 1px solid black;
    }
/* 
    .nav-link:hover{
        color: #fff;
    
    } */
    .navbar-nav button:hover {
        background-color: hsl(256, 26%, 20%);
        transition: 2s;
    }
    .view:hover{ 
        color: white;
    }
.headr{
    background-color: hsl(256, 26%, 20%);
    color: #fff;
    /* display: flex; */
    height: 500px;
    font-family: 'DM Serif Display', serif;
    /* position: absolute; */
}
.intro  {
    font-size: 4em;
    font-weight: 400px;
    padding-left: 2em;
    display: flex;
}
.talk{
    Font-size: 16px;
    padding-left: 8em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'DM Serif Display', serif;
}
#img{
        padding-top: 3em; 
    padding-left: 41em;
        padding-bottom: 3em;
    /* margin-top: ; */
        /* border: 7px solid yellow; */
        box-sizing: content-box;
        position: relative;
        bottom: 20em;  
        /* width: 30em; */

}
button{
       border: 1px solid  rgba(255, 255, 255, 0.8) ;
       padding: 0.5em 0.5em;
        background-color: hsl(256, 26%, 20%); 
        color: rgba(255, 255, 255, 0.8);

}
/* .different, ul{ */
    /* font-family: 'Karla', sans-serif; */

/* } */
.different{
    /* border: 1px hsl(256, 26%, 20%) solid; */
     /* border: 10px solid yellow; */
     margin: 7em 0 3em 1em;
     font-size: 2.5em;
}
.differ{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 1.2em 0 5em 0;

}
h4{
    padding: 1.2em 0 1em 0;
}
.find-out{
    background-color: hsl(256, 26%, 20%);
    font-size: 2em;
    color: #fff;
    margin: 3em;
    padding: 1.3em;
    margin-bottom: 3em;

}
.work{
left: 60em;
top: 97em;
}
footer{
    display: flex;
    margin: 1em 0 3em 1em;
    /* border:3px solid green; */
}
footer ul {
    margin: 6em;
}
ul{
    list-style: none;
    
}
li{
    margin-left: 1em;
}
.footer-color{
    background-color: #F1F1ED ;
   max-height: 20em;
   /* border:3px solid green;  */
}
hr{
    width:75em;
    margin: 3em ;
}

.img:hover{
    border: 5px solid white;
}
@media (max-width:500px){
    .differ{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
    }
    .find-out{
        font-size: 2em;
        color: #fff;
        margin: 3em;
        padding: 0.3em;
    
    }
    hr{
        width:25em;
        margin: 1.5em ;
    }
    footer{
        display: flex;
        /* margin: 1.2em 0 5em 1em; */
        flex-direction: column;
    }
    ul{
        /* margin-bottom: 0.1em; */
    }
    li{
        /* margin-bottom: 0.1em; */

    }
}
